@{
    ViewBag.Title = "Admin Home";
}


            <p>@Html.ActionLink("Add Promo Codes", "AddPromoCode", "Admin")</p>

            <p>@Html.ActionLink("Manage Members", "MemberList", "Admin")</p>

                        
