@model Bettery.WebRole.Models.EditMember

@{
    ViewBag.Title = "Delete";
}

<h2>DELETE MEMBERSHIP ACCOUNT</h2>

<h3>Are you sure you want to delete your BETTERY membership account?</h3>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" />

    </p>
}
