@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about Bettery visit <a href="home/about" title="About Bettery">About Bettery</a>.

</p>
@Html.ActionLink("Sign Up Now", "Create", "Members")