<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!--MaxIdleTime in seconds-->
        <add key="MaxIdleTime" value="60"/>
        <add key="ConnectionString" value="Data Source=.\SQLExpress;Database=Bettery; User Id=sa;Password=abcde12345-;"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IKioskService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://bservice-dev.cloudapp.net/KioskService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKioskService"
                contract="BService.IKioskService" name="BasicHttpBinding_IKioskService" />
        </client>
    </system.serviceModel>
</configuration>
